<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HelloWorld</title>
</head>
<style type='text/css'>
    body,html {height:100%;}
    </style>
    
<body>
    {{ content|safe }}
    <iframe class="iframe" style="height: 100%;width: 100%;border: 0;"  allow="fullscreen;payment" id="Yiframe" name="Yiframe" src='https://profootprint.ee.ncku.edu.tw/monitor' ></iframe>
    
</body>
</html>